* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* variables  */
:root {
  --color1: #ffffff;
  --color2: #cd9042;
  --color3: rgb(215, 214, 214);
  --bg-nav: #131921;
  --bg-subnav: #232f3e;
  --bg-body: #eaeded;
}

body {
  background-color: var(--bg-body);
}
.d-flex {
  display: flex;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  background-color: var(--bg-nav);
  align-items: center;
}
nav .nav_brand a {
  display: flex;
  text-align: center;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  color: var(--color1);
}
nav .nav_brand a img {
  width: 100px;
  margin: 20px 18px 0;
}
nav .nav_brand a span {
  font-size: 15px;
  margin-left: -13px;
  font-weight: 400;
}
nav .d-inline-block {
  color: var(--color1);
  font-size: small;
  margin-left: 10px;
}
nav .d-inline-block li i {
  padding: 10px;
}
nav .addr a {
  color: var(--color1);
  padding: 10px;
  font-size: 12px;
}
/* search bar */
nav .search {
  flex: 1;
  margin: 0 10px;
}
nav .search #allmenu {
  border-radius: 5px 0px 0px 5px;
}
nav nav .search #allmenu option {
  background-color: var(--bg-body);
  color: var(--bg-nav);
}
nav .search input {
  width: 100%;
  padding: 10px;
  border: none;
}
nav .search i {
  background-color: var(--color2);
  padding: 10px;
  border-radius: 0 5px 5px 0;
  align-items: center;
}
nav .country {
  margin: 0 10px;
  color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
nav .country img{
  margin: 0 2px;
}
nav .country i {
  color: var(--bg-body);
  padding: 5px 0 0 2px;
}
nav a {
  color: var(--color1);
}
nav .signin {
  color: var(--color1);
  width: max-content;
  display: flex;
  margin: 0 10px;
  font-size: 12px;
}
nav .signin i {
  color: var(--bg-body);
  padding-top: 15px;
}
nav .cart {
  color: var(--color1);
  margin-right: 20px;
  font-size: 12px;
}
nav .cart i {
  font-size: 20px;
}
